<!--FinSightAI-->
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinSightAI</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Neometric+Alt+Extra+Bold&display=swap">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-dark bg-transparent fixed-top">
        <a class="navbar-brand" href="#">
            FinSightAI
        </a>
    </nav>
    <!-- Overlay Background Image -->
    <div class="overlay"></div>
    <!-- Üst Kısım - Verilen Bilgiler -->
    <div class="content">
        <h1 class="display-3">Çok Yakında Hizmetinizdeyiz</h1>
    </div>
    <!-- Beyaz Alan -->
    <div class="white-section">
        <h2>Projemizin Tanımı</h2>
        <p>Borsa hisse fiyatlarının zaman serileri metodlarıyla analizini gerçekleştiren ve finans haberlerini kullanarak hisselerin gelecekteki fiyatlarını tahmin eden bir yapay zeka tabanlı uygulama arayüzü servisi geliştiriyoruz. Bu projenin temel amacı, yatırımcılara stratejik kararlar vermelerine yardımcı olmak, gelecekteki piyasa hareketlerini öngörmek ve kullanıcılara tavsiyelerde bulunmaktır.</p>
    </div>
</body>
</html>